.button {
  display: inline-block;
  .offset(11px 23px 12px 26px; 0);
  font-weight: 700;
  .typography(14px; 17px);
  color: @white;
  letter-spacing: 0.08em;
  background-color: transparent;
  border: 0;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    filter: drop-shadow(0 0 8px @grey1);
    transform: scale(1.01);
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: @tablet-width) {
    padding: 21px 33px 22px 36px;
  }
}

.button--promo {
  margin: 0 auto 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.button--link {
  display: block;
  text-align: center;
  background-color: @orange;

  &:hover,
  &:active {
    background-color: @yellow;
  }

  &:active {
    opacity: 0.7;
  }
}

.button--link-menu {
  max-width: 214px;
  margin: 0 auto;
}

.button--link-form {
  max-width: 230px;
  margin: 0 auto;
  letter-spacing: 0.07em;
}

.button--link-events {
  max-width: 296px;
  margin: 0 auto;
  letter-spacing: 0.07em;
}

.button--menu {
  background-color: @grey;

  &:hover,
  &:active {
    background-color: @grey1;
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: @tablet-width) {
    margin: 0 20px 0 0;
  }
}

.button--link-contacts {
  max-width: 296px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 296px;
  }
}

.button__scroll-up {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 40px;
  height: 40px;
  .offset(0; 0);
  border: 0;
  border-radius: 10%;
  background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' width='48px' height='48px' viewBox='0 0 24 24' aria-labelledby='chevronUpIconTitle' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='miter' fill='none' color='%23ffffff'%3E%3Ctitle id='chevronUpIconTitle'%3EChevron Up%3C/title%3E%3Cpolyline points='6 14 12 8 18 14 18 14'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: center center;
  background-color: @black2;
  box-shadow: 0 2px 6px @brown;
  cursor: pointer;
  transition: 0.3s linear;
  z-index: 10;

  @media (min-width: @tablet-width) {
    bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 60px;
    height: 60px;
    right: 50px;
    bottom: 60px;
  }
}

.button__scroll-up:hover {
  background-color: @orange;
  transition: 0.3s linear;
}

.button__scroll-up--showed {
  display: block;
  animation: 0.3s linear btn-showing;
}
