.footer {
  .offset(0; 0);
  background-color: @darkbrown;
}

.footer__wrapper {
  .offset(20px 0 10px 0; 0);
}

.footer__inner {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .offset(0; 0 0 20px 0);
  list-style: none;
  order: 2;

  @media (min-width: @desktop-width) {
    margin: 19px 55px auto 0;
  }
}

.footer__menu-item {
  min-width: 141px;

  @media (min-width: @tablet-width) {
    min-width: auto;
  }
}

.footer__menu-link {
  position: relative;
  display: inline-block;
  .offset(10px; 0);
  .typography(15px; 18px);
  letter-spacing: 0.01em;
  color: @orange;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: none;
    width: 0;
    right: 0;
    height: 1px;
    background-color: @yellow;
    transition: width 0.3s ease;
    opacity: 0.7;
  }

  &:hover,
  &:focus {
    color: @yellow;
    transition: 0.3s ease;
  }

  &:active {
    opacity: 0.7;
  }

  &:hover::before {
    display: block;
    width: calc(100% - 20px);
    right: auto;
    left: 10px;
  }

  @media (min-width: @desktop-width) {
    padding: 7px;

    &:hover::before {
      display: block;
      width: calc(100% - 14px);
      right: auto;
      left: 7px;
    }
  }
}

.footer__wrapper-info {
  .offset(0; 0);
  background-color: @grey;
}

.footer__info-block {
  display: flex;
  flex-wrap: wrap;
  .offset(31px 0 30px 0; 0);

  @media (min-width: @desktop-width) {
    padding-bottom: 14px;
  }
}

.footer__info-text {
  .offset(0; 0 20px 15px 0);
  .typography(16px; 19px);
  color: @darkbrown;
  letter-spacing: 0.03em;
}

.footer__policy {
  @media (min-width: @desktop-width) {
    margin-right: 105px;
  }
}

.footer__copyright {
  @media (min-width: @desktop-width) {
    margin-right: 477px;
  }
}

.footer__dev {
  display: flex;
  flex-wrap: wrap;
}

.footer__dev-text {
  margin-right: 10px;
}
