.header {
  .offset(14px 0 6px 0; 0);
  background-color: @black2;
  transition: 0.5s ease;
}

.main-nav__sticky.header {
  background-color: @black3;
  padding: 12px 0 6px 0;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header__address-wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .offset(0; 0);
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    justify-content: normal;
    padding-left: 59px;
    margin-top: 17px;
    margin-right: 249px;
  }
}

.header__link-contacts {
  .typography(13px; 16px);
  letter-spacing: 0.02em;
  color: @orange;
}

@media (max-width: @mobile-width-only) {
  .main-nav__sticky .header__address-wrapper {
    display: none;
  }
}
