.slider {
  position: relative;
  max-width: 300px;
  .offset(0; 0 auto);

  @media (min-width: @tablet-width) {
    max-width: 486px;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
  }
}

.slider__menu {
  display: none;
}

.slider__menu--active {
  display: block;
}

.slider__wrapper {
  padding-bottom: 60px;
  margin: 0 auto;
  padding-top: 40px;
  overflow-x: hidden;
}

.slider__list {
  position: relative;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  .offset(0; 0);
  list-style: none;
  transition: all 0.7s ease;
}

.slider__card-inner {
  display: none;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 318px 318px 666px;
    gap: 30px;
  }
}

.slider__card-wrapper {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__img-1 {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.slider__img-2 {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.slider__img-3 {
  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: span 3;
  }
}

.slider__img-4 {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.slider__img-5 {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.slider__card {
  max-width: 300px;
  .offset(0; 0 10px);

  @media (min-width: @tablet-width) {
    margin: 0 30px 0 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 318px;
    margin: 0 15px;
  }
}

.slider__card--gallery {
  @media (min-width: @tablet-width) {
    position: relative;
    max-width: 100%;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 1362px;
    margin: 0 15px;
  }
}

.slider__controls {
  position: relative;
  z-index: 0;
}

.slider__toggle {
  position: absolute;
  top: -20px;
  display: block;
  width: 42px;
  height: 42px;
  .offset(0; 0);
  border: 1px solid @grey;
  border-radius: 3px;
  background-color: transparent;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: 0.3s ease;
  }
}

.slider__toggle--left {
  left: 93px;

  @media (min-width: @tablet-width) {
    left: -10px;
  }
}

.slider__toggle--right {
  right: 93px;
  transform: rotate(180deg);

  &:hover,
  &:focus {
    transform: scale(1.1) rotate(-180deg);
  }

  @media (min-width: @tablet-width) {
    left: 43px;
  }
}
